<div class="container-fluid anchor" id="contact"><!-- Contact Page -->
  <div class="row">
    <div class="contact column col-md-4">
      <div class"well col-md_offset-2 col-md-8">
        <!-- image_tag was here -->
        <h1>Contact</h1>
        <span class="text-center">
        Norman Duchene<br>
        17A Sunnyside Lane<br>
        Derry NH, 03038<br>
        </span>
      </div>
    </div>
  </div>
  
  <%= flash[:notice] %>
  
 
    <%= form_tag("/static_pages/thank_you") do %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= label_tag :name, "Name" %>
          <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
        </div>
        <div class="form-group">
          <%= label_tag :email, "Email Address" %>
          <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
        </div>
        <div class="form-group">
          <%= label_tag :message, "Message" %>
          <%= text_field_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
        </div>
        <%= submit_tag "Send" %>
        
      </div>
    </div> <!-- end row  -->
    <% end %>
</div>