
    <div class="col-md-4">
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <h4 class="text-center">
        <%= product.name %>
      </h4>            <!-- product.name is an array member object method field of the @product array object -->
      <%= product.description %>
      <p>
        This bike comes with a free upgraded <%= product.color %> paint job!
      </p>
      <% price = "$"  + product.price.to_i.to_s %>
      <h5 class="text-center">
        <%= price %>
      </h5>
      <div class="text-center">
        <%= link_to 'Show',     product %>
         <%= link_to 'Create',  new_product_path %>
        <%= link_to 'Edit',     edit_product_path(product) %>
        <%= link_to 'Destroy',  product, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div> 
   